In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv('./file_new/auto-mpg_v2.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
389,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
390,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
391,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [48]:
ndf = df[['mpg', 'cylinders' ,'horsepower', 'weight']]
ndf

      mpg  cylinders  horsepower  weight
0    18.0          8       130.0  3504.0
1    15.0          8       165.0  3693.0
2    18.0          8       150.0  3436.0
3    16.0          8       150.0  3433.0
4    17.0          8       140.0  3449.0
..    ...        ...         ...     ...
387  27.0          4        86.0  2790.0
388  44.0          4        52.0  2130.0
389  32.0          4        84.0  2295.0
390  28.0          4        79.0  2625.0
391  31.0          4        82.0  2720.0

[392 rows x 4 columns]

## 1. 학습
### 1. 1 train_test_split
#### - test_size: 검증 데이터 비율 (나머지 훈련 데이터 비율)
#### - random_state: 랜덤하게 뽑아내기 위한 시드값
#### - train: 훈련 데이터 
####  - test: 검증 데이터

In [49]:
x = ndf[['weight']]
y = ndf[['mpg']]

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train, x_test, y_train, y_test, = train_test_split(x,
                                                     y,
                                                     test_size = 0.3,
                                                     random_state = 10)

In [52]:
x_train

     weight
37   4209.0
170  2223.0
275  3410.0
194  2164.0
352  2615.0
..      ...
369  1980.0
320  2110.0
15   2833.0
125  2901.0
265  2560.0

[274 rows x 1 columns]

### 1.2 학습모델 만들기

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
lr = LinearRegression()

In [55]:
lr.fit(x_train, y_train)

LinearRegression()

In [56]:
lr.score(x_train, y_train)

0.6916618001977128

#### - a 값

In [57]:
lr.coef_

array([[-0.00775343]])

#### - b 값

In [58]:
lr.intercept_

array([46.71036626])

In [59]:
y_hat = lr.predict(x)
y_hat

array([[19.54234168],
       [18.0769431 ],
       [20.06957503],
       [20.09283533],
       [19.96878042],
       [13.05271937],
       [12.95192476],
       [13.27756889],
       [12.40143111],
       [16.85965432],
       [19.08488921],
       [18.72823136],
       [17.54970974],
       [22.78327612],
       [28.31922633],
       [24.74489433],
       [25.2023468 ],
       [26.65223852],
       [30.1955568 ],
       [32.48281914],
       [25.99319683],
       [27.8695273 ],
       [28.29596604],
       [29.3891999 ],
       [26.17927919],
       [10.92827909],
       [12.78134926],
       [12.73482867],
       [10.02112759],
       [30.1955568 ],
       [29.15659695],
       [29.43572049],
       [26.28782724],
       [20.04631474],
       [20.89919222],
       [21.10853488],
       [21.21708292],
       [14.07617235],
       [12.09904728],
       [14.50261109],
       [14.95231013],
       [ 8.29211233],
       [ 9.91257955],
       [ 6.85772747],
       [23.74470165],
       [28.04010279],
       [21.26360351],
       [22.37234424],
       [29.49774795],
       [30.24983082],
       [30.62974897],
       [30.69952986],
       [32.9635319 ],
       [34.20408097],
       [32.49057257],
       [31.55240734],
       [29.04804891],
       [30.22657052],
       [29.23413127],
       [28.04010279],
       [29.45122736],
       [13.57219929],
       [12.71156838],
       [14.6499263 ],
       [14.69644689],
       [18.23976516],
       [10.78871732],
       [11.80441687],
       [12.16107473],
       [12.42469141],
       [28.64487046],
       [16.53401019],
       [14.93680327],
       [13.41713066],
       [15.09962533],
       [23.96955117],
       [27.24149933],
       [23.61289331],
       [29.73810433],
       [28.1408974 ],
       [28.97051459],
       [27.28026649],
       [29.93194012],
       [30.42815975],
       [14.92129641],
       [18.23976516],
       [15.78968075],
       [15.37099544],
       [17.42565484],
       [ 8.31537262],
       [12.09904728],
       [12.88214388],
       [13.85907627],
       [ 9.99786729],
       [ 8.32312605],
       [17.08450384],
       [22.51190601],
       [21.29461724],
       [23.87650999],
       [23.28724918],
       [24.19440068],
       [31.5911745 ],
       [ 7.9664682 ],
       [ 8.67203048],
       [10.62589526],
       [11.82767717],
       [25.08604533],
       [29.04029548],
       [28.09437681],
       [28.26495231],
       [30.24207739],
       [28.7999391 ],
       [27.54388317],
       [29.14884352],
       [15.06085818],
       [13.54118557],
       [32.23470933],
       [29.97846071],
       [26.69100568],
       [24.47352422],
       [20.35645201],
       [26.08623801],
       [24.94648356],
       [18.30179261],
       [22.65922121],
       [24.21766098],
       [20.8449182 ],
       [31.5911745 ],
       [27.70670523],
       [32.47506571],
       [27.00114295],
       [17.39464111],
       [18.54990243],
       [18.69721763],
       [14.60340571],
       [10.27699083],
       [12.1533213 ],
       [10.74995017],
       [13.70400763],
       [29.50550138],
       [31.49037989],
       [28.87747341],
       [33.92495743],
       [31.18024262],
       [30.23432396],
       [30.36613229],
       [29.29615872],
       [27.41207483],
       [28.17191113],
       [31.20350291],
       [21.40316528],
       [19.89124611],
       [20.10058876],
       [22.22502904],
       [10.51734722],
       [12.28512964],
       [11.8354306 ],
       [10.60263496],
       [16.41770872],
       [16.49524303],
       [17.79006612],
       [17.36362738],
       [23.14768741],
       [21.73656284],
       [22.13974129],
       [29.8776661 ],
       [26.24906008],
       [24.11686637],
       [26.61347137],
       [25.76059388],
       [29.47448765],
       [26.97788265],
       [23.57412615],
       [31.69196911],
       [21.81409716],
       [25.82262133],
       [23.78346881],
       [23.87650999],
       [26.00095026],
       [32.79295641],
       [27.60591062],
       [29.49774795],
       [26.76854   ],
       [29.22637784],
       [29.63730972],
       [14.02965176],
       [14.22348755],
       [15.99126998],
       [14.02965176],
       [21.64352166],
       [20.71310986],
       [23.35703006],
       [22.79102955],
       [30.93213281],
       [29.93194012],
       [31.69196911],
       [32.79295641],
       [18.40258723],
       [18.99960146],
       [18.44910782],
       [21.95365893],
       [32.56035346],
       [31.28103723],
       [30.00172101],
       [26.82281402],
       [22.28705649],
       [16.16184547],
       [21.35664469],
       [23.99281146],
       [17.09225727],
       [12.75033554],
       [15.27020083],
       [16.70458569],
       [17.59623033],
       [30.85459849],
       [30.00172101],
       [32.56035346],
       [28.87747341],
       [31.62994166],
       [16.62705137],
       [15.23143367],
       [14.61115914],
       [13.40937723],
       [19.41828677],
       [20.15486278],
       [18.56540929],
       [19.37951962],
       [13.9908846 ],
       [14.41732335],
       [13.17677428],
       [13.09923996],
       [31.66870882],
       [25.46596348],
       [29.14884352],
       [25.349662  ],
       [30.8080779 ],
       [30.62199554],
       [31.31980439],
       [29.7303509 ],
       [24.8844561 ],
       [26.55144391],
       [25.62103211],
       [31.31980439],
       [32.75418925],
       [31.31980439],
       [30.6607627 ],
       [32.75418925],
       [20.62006868],
       [17.75129897],
       [19.03061519],
       [19.3019853 ],
       [22.24828933],
       [23.72144135],
       [25.62103211],
       [20.11609562],
       [21.82185059],
       [20.50376721],
       [22.90733103],
       [18.64294361],
       [20.27116426],
       [20.15486278],
       [19.99979415],
       [21.86061775],
       [15.07636504],
       [30.00172101],
       [26.86158118],
       [28.87747341],
       [29.42021363],
       [27.2104856 ],
       [25.42719632],
       [24.57431884],
       [28.06336309],
       [24.76815463],
       [22.36459081],
       [25.03952474],
       [20.27116426],
       [31.28103723],
       [30.15678964],
       [21.55048048],
       [23.52760556],
       [24.30294873],
       [21.39541185],
       [20.65883584],
       [16.93718864],
       [17.82883328],
       [16.045544  ],
       [17.01472296],
       [12.90540417],
       [15.27795426],
       [18.75924508],
       [16.16184547],
       [31.78501029],
       [31.39733871],
       [31.86254461],
       [26.0087037 ],
       [19.34075246],
       [16.47198274],
       [21.97691923],
       [20.19362994],
       [29.65281658],
       [30.04048816],
       [31.04843428],
       [30.1955568 ],
       [26.0087037 ],
       [26.59021107],
       [25.77610074],
       [26.89259491],
       [30.08700875],
       [31.45161273],
       [30.27309111],
       [31.05618771],
       [25.94667624],
       [24.45801736],
       [23.42681095],
       [20.49601378],
       [29.74585776],
       [25.690813  ],
       [27.00114295],
       [27.83851357],
       [29.14884352],
       [30.35062543],
       [25.00075758],
       [30.35062543],
       [30.54446122],
       [28.6061033 ],
       [23.83774283],
       [21.51171333],
       [32.36651767],
       [30.07925532],
       [32.40528482],
       [24.14788009],
       [27.94706161],
       [27.32678708],
       [28.95500773],
       [27.4043214 ],
       [26.2800738 ],
       [26.39637528],
       [25.58226495],
       [28.21843172],
       [33.10309367],
       [32.17268187],
       [33.06432652],
       [30.69952986],
       [31.39733871],
       [30.81583133],
       [31.31980439],
       [29.53651511],
       [30.85459849],
       [28.25719888],
       [29.7303509 ],
       [29.57528226],
       [28.48980183],
       [26.43514244],
       [26.2800738 ],
       [21.66678196],
       [22.20952218],
       [24.22541441],
       [23.99281146],
       [20.2323971 ],
       [17.82883328],
       [22.98486534],
       [19.84472552],
       [26.51267675],
       [26.24130665],
       [28.1408974 ],
       [26.7452797 ],
       [27.13295129],
       [25.50473064],
       [24.49678452],
       [31.35857155],
       [31.00966712],
       [31.43610586],
       [30.23432396],
       [30.23432396],
       [29.96295385],
       [29.61404942],
       [29.30391216],
       [31.47487302],
       [31.47487302],
       [31.24227007],
       [23.87650999],
       [23.33376977],
       [26.66774539],
       [24.72938747],
       [26.04747085],
       [28.3347332 ],
       [23.83774283],
       [25.07829189],
       [30.1955568 ],
       [28.91624057],
       [26.35760812],
       [25.62103211]])

In [61]:
plt.figure(figsize = (10, 5))
ax1 = sns.kdeplot(y, label = "y")
ax2 = sns.kdeplot(y_hat, label = "y_hat", ax = ax1)

plt.legend()
plt.show()

ValueError: If using all scalar values, you must pass an index