In [1]:
import pandas as pd
import numpy as np

In [17]:
file_path = 'C:/Users/admin/Desktop/미니 프로젝트 1/시각화용/지역별_데이터_2.csv'
df = pd.read_csv(file_path)
df

,Unnamed: 0,지역,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),...,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역별 고령화 비율(%),버스터미널,철도역,공항
0,0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,...,2.1,0.8,-,-,1,244,21.9,131.51,204.48,380.87
1,1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,...,3.1,4,0.1,0.5,-,5107,14.0,100.17,136.67,333.24
2,2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,...,7.7,0.9,0.3,-,-,1071,18.6,124.32,204.54,320.82
3,3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,...,1.4,0.8,5.1,0.6,-,884,22.9,150.94,175.37,385.75
4,4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,...,-,3.6,-,0.8,-,312,14.9,86.18,66.72,152.64
5,5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,...,-,1.7,-,1.9,-,675,17.7,73.10,98.39,169.80
6,6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,...,5.3,1.3,-,-,-,429,15.4,79.47,81.34,340.74
7,7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,...,3.7,0.3,0.3,-,-,872,20.6,125.95,74.69,206.88
8,8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,...,1.6,2.7,0.4,0.2,-,2991,17.0,103.24,81.02,245.20
9,9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,...,4.2,-,-,1,-,52,10.1,69.81,109.06,303.04
10,10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,...,3.8,-,-,-,-,263,13.9,103.22,86.30,143.05
11,11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,...,4.9,6.7,-,-,2.2,1003,15.0,105.44,204.16,208.25
12,12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,...,2,2.8,-,-,-,420,24.4,184.33,239.04,366.29
13,13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,...,0.4,1,0.7,0.7,-,324,22.4,117.49,159.50,393.32
14,14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,...,1.4,1.3,-,-,0.7,78,16.5,125.49,480.00,202.14
15,15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,...,5.1,4.6,2.6,0.6,0.6,682,20.0,148.01,200.82,429.78
16,16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,...,6.2,2.5,1.2,-,0.7,555,19.1,135.58,162.19,314.64

# 구간화하기, 10개 구간으로 구간화

In [18]:
# 먼저 이상치 처리하기 : - 값
df[(df['취미 및 레포츠 활동을 위해'] == '-') |
  (df['친목 활동을 위해 '] == '-') |
  (df['질병 치유를 위해'] == '-') |
  (df['교육 학습을 위해'] == '-') |
  (df['기타'] == '-')]

,Unnamed: 0,지역,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),...,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역별 고령화 비율(%),버스터미널,철도역,공항
0,0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,...,2.1,0.8,-,-,1,244,21.9,131.51,204.48,380.87
1,1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,...,3.1,4,0.1,0.5,-,5107,14.0,100.17,136.67,333.24
2,2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,...,7.7,0.9,0.3,-,-,1071,18.6,124.32,204.54,320.82
3,3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,...,1.4,0.8,5.1,0.6,-,884,22.9,150.94,175.37,385.75
4,4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,...,-,3.6,-,0.8,-,312,14.9,86.18,66.72,152.64
5,5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,...,-,1.7,-,1.9,-,675,17.7,73.10,98.39,169.80
6,6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,...,5.3,1.3,-,-,-,429,15.4,79.47,81.34,340.74
7,7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,...,3.7,0.3,0.3,-,-,872,20.6,125.95,74.69,206.88
8,8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,...,1.6,2.7,0.4,0.2,-,2991,17.0,103.24,81.02,245.20
9,9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,...,4.2,-,-,1,-,52,10.1,69.81,109.06,303.04
10,10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,...,3.8,-,-,-,-,263,13.9,103.22,86.30,143.05
11,11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,...,4.9,6.7,-,-,2.2,1003,15.0,105.44,204.16,208.25
12,12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,...,2,2.8,-,-,-,420,24.4,184.33,239.04,366.29
13,13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,...,0.4,1,0.7,0.7,-,324,22.4,117.49,159.50,393.32
14,14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,...,1.4,1.3,-,-,0.7,78,16.5,125.49,480.00,202.14
16,16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,...,6.2,2.5,1.2,-,0.7,555,19.1,135.58,162.19,314.64

In [19]:
list_col = ['취미 및 레포츠 활동을 위해', '친목 활동을 위해 ', '질병 치유를 위해',
           '교육 학습을 위해', '기타']

for col in list_col :
    df[col] = np.where(df[col] == '-', 0, df[col])

In [20]:
# - 가 제거됐는지 확인
df[(df['취미 및 레포츠 활동을 위해'] == '-') |
  (df['친목 활동을 위해 '] == '-') |
  (df['질병 치유를 위해'] == '-') |
  (df['교육 학습을 위해'] == '-') |
  (df['기타'] == '-')]

Empty DataFrame
Columns: [Unnamed: 0, 지역, 청년인구, 초등학교, 중학교, 고등학교, 지수(점), 등급, 순위, 일산화탄소(CO), 질산화물(NOx), 황산화물(SOx), 총먼지(TSP), 미세먼지(PM10), 미세먼지(PM2.5), Black Carbon(BC), 휘발성유기화합물(VOC) , 암모니아(NH₃), 마을축제 건 수, 전통문화축제, 관광축제, 산업축제, 특수목적축제, 문화기반시설 수, 공연사업 수, 공연 횟수, 생활문화시설 수, 생활문화센터, 평생 학습관, 문화의집, 생활영상시설, 작은도서관, 경제활동인구 (천명), - 연령별(15~29세), - 연령별(30~39세), - 연령별(40~49세), - 연령별(50~59세), - 연령별(60세이상), 공공의료시설, 병·의원, 종합병원, 공공 체육시설, 민간 체육시설, 기타 체육시설, 학교체육시설, 자가시설, 직장체육시설, 전월세전환율(%), 취업률(%), 대규모점포, 전통시장, 평균 휴양 만족 점수, 건강 증진을 위해, 휴양 및 휴식을 취하기 위해, 취미 및 레포츠 활동을 위해, 친목 활동을 위해 , 질병 치유를 위해, 교육 학습을 위해, 기타, 지역별 강소기업 갯수, 지역별 고령화 비율(%), 버스터미널, 철도역, 공항]
Index: []

[0 rows x 64 columns]

In [21]:
# 데이터타입 변환하기
print(df.info())
df['취미 및 레포츠 활동을 위해'] = pd.to_numeric(df['취미 및 레포츠 활동을 위해'])
df['친목 활동을 위해 '] = pd.to_numeric(df['친목 활동을 위해 '])
df['질병 치유를 위해'] = pd.to_numeric(df['질병 치유를 위해'])
df['교육 학습을 위해'] = pd.to_numeric(df['교육 학습을 위해'])
df['기타'] = pd.to_numeric(df['기타'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        17 non-null     int64
 1   지역                17 non-null     object
 2   청년인구              17 non-null     int64
 3   초등학교              17 non-null     float64
 4   중학교               17 non-null     float64
 5   고등학교              17 non-null     float64
 6   지수(점)             17 non-null     float64
 7   등급                17 non-null     object
 8   순위                17 non-null     int64
 9   일산화탄소(CO)         17 non-null     int64
 10  질산화물(NOx)         17 non-null     int64
 11  황산화물(SOx)         17 non-null     int64
 12  총먼지(TSP)          17 non-null     int64
 13  미세먼지(PM10)        17 non-null     int64
 14  미세먼지(PM2.5)       17 non-null     int64
 15  Black Carbon(BC)  17 non-null     int64
 16  휘발성유기화합물(VOC)     17 non-null     int64
 17  암모니아(NH₃)         17 non-null     int64
 18  마을축제 건 수          17 non-null     int64
 19  전통문화축제            17 non-null     int64
 20  관광축제              17 non-null     int64
 21  산업축제              17 non-null     int64
 22  특수목적축제            17 non-null     int64
 23  문화기반시설 수          17 non-null     int64
 24  공연사업 수            17 non-null     int64
 25  공연 횟수             17 non-null     int64
 26  생활문화시설 수          17 non-null     int64
 27  생활문화센터            17 non-null     int64
 28  평생 학습관            17 non-null     int64
 29  문화의집              17 non-null     int64
 30  생활영상시설            17 non-null     int64
 31  작은도서관             17 non-null     int64
 32  경제활동인구 (천명)       17 non-null     int64
 33  - 연령별(15~29세)     17 non-null     int64
 34  - 연령별(30~39세)     17 non-null     int64
 35  - 연령별(40~49세)     17 non-null     int64
 36  - 연령별(50~59세)     17 non-null     int64
 37  - 연령별(60세이상)      17 non-null     int64
 38  공공의료시설            17 non-null     float64
 39  병·의원              17 non-null     float64
 40  종합병원              17 non-null     float64
 41  공공 체육시설           17 non-null     float64
 42  민간 체육시설           17 non-null     float64
 43  기타 체육시설           17 non-null     float64
 44  학교체육시설            17 non-null     float64
 45  자가시설              17 non-null     float64
 46  직장체육시설            17 non-null     float64
 47  전월세전환율(%)         17 non-null     float64
 48  취업률(%)            17 non-null     float64
 49  대규모점포             17 non-null     float64
 50  전통시장              17 non-null     float64
 51  평균 휴양 만족 점수       17 non-null     float64
 52  건강 증진을 위해         17 non-null     float64
 53  휴양 및 휴식을 취하기 위해   17 non-null     float64
 54  취미 및 레포츠 활동을 위해   17 non-null     object
 55  친목 활동을 위해         17 non-null     object
 56  질병 치유를 위해         17 non-null     object
 57  교육 학습을 위해         17 non-null     object
 58  기타                17 non-null     object
 59  지역별 강소기업 갯수       17 non-null     int64
 60  지역별 고령화 비율(%)     17 non-null     float64
 61  버스터미널             17 non-null     float64
 62  철도역               17 non-null     float64
 63  공항                17 non-null     float64
dtypes: float64(24), int64(33), object(7)
memory usage: 8.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        17 non-null     int64
 1   지역                17 non-null     object
 2   청년인구              17 non-null     int64
 3   초등학교              17 non-null     float64
 4   중학교               17 non-null     float64
 5   고등학교              17 non-null     float64
 6   지수(점)             17 non-null     float64
 7   등급                17 non-null     object
 8   순위                17 non-null     int64
 9   일산화탄소(CO)         17 non-null     int64
 10  질산화물(NOx)         17 non-null     int64
 11  황산화물(SOx)         17 non-null     int64
 12  총먼지(TSP)          17 non-null     int64
 13  미세먼지(PM10)        17 non-null     int64
 14  미세먼지(PM2.5)       17 non-null     int64
 15  Black Carbon(BC)  17 non-null     int64
 16  휘발성유기화합물(VOC)     17 non-null     int64
 17  암모니아(NH₃)         17 non-null     int64
 18  마을축제 건 수          17 non-null     int64
 19  전통문화축제            17 non-null     int64
 20  관광축제              17 non-null     int64
 21  산업축제              17 non-null     int64
 22  특수목적축제            17 non-null     int64
 23  문화기반시설 수          17 non-null     int64
 24  공연사업 수            17 non-null     int64
 25  공연 횟수             17 non-null     int64
 26  생활문화시설 수          17 non-null     int64
 27  생활문화센터            17 non-null     int64
 28  평생 학습관            17 non-null     int64
 29  문화의집              17 non-null     int64
 30  생활영상시설            17 non-null     int64
 31  작은도서관             17 non-null     int64
 32  경제활동인구 (천명)       17 non-null     int64
 33  - 연령별(15~29세)     17 non-null     int64
 34  - 연령별(30~39세)     17 non-null     int64
 35  - 연령별(40~49세)     17 non-null     int64
 36  - 연령별(50~59세)     17 non-null     int64
 37  - 연령별(60세이상)      17 non-null     int64
 38  공공의료시설            17 non-null     float64
 39  병·의원              17 non-null     float64
 40  종합병원              17 non-null     float64
 41  공공 체육시설           17 non-null     float64
 42  민간 체육시설           17 non-null     float64
 43  기타 체육시설           17 non-null     float64
 44  학교체육시설            17 non-null     float64
 45  자가시설              17 non-null     float64
 46  직장체육시설            17 non-null     float64
 47  전월세전환율(%)         17 non-null     float64
 48  취업률(%)            17 non-null     float64
 49  대규모점포             17 non-null     float64
 50  전통시장              17 non-null     float64
 51  평균 휴양 만족 점수       17 non-null     float64
 52  건강 증진을 위해         17 non-null     float64
 53  휴양 및 휴식을 취하기 위해   17 non-null     float64
 54  취미 및 레포츠 활동을 위해   17 non-null     float64
 55  친목 활동을 위해         17 non-null     float64
 56  질병 치유를 위해         17 non-null     float64
 57  교육 학습을 위해         17 non-null     float64
 58  기타                17 non-null     float64
 59  지역별 강소기업 갯수       17 non-null     int64
 60  지역별 고령화 비율(%)     17 non-null     float64
 61  버스터미널             17 non-null     float64
 62  철도역               17 non-null     float64
 63  공항                17 non-null     float64
dtypes: float64(29), int64(33), object(2)
memory usage: 8.6+ KB
None

In [22]:
df

,Unnamed: 0,지역,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),...,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역별 고령화 비율(%),버스터미널,철도역,공항
0,0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,...,2.1,0.8,0.0,0.0,1.0,244,21.9,131.51,204.48,380.87
1,1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,...,3.1,4.0,0.1,0.5,0.0,5107,14.0,100.17,136.67,333.24
2,2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,...,7.7,0.9,0.3,0.0,0.0,1071,18.6,124.32,204.54,320.82
3,3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,...,1.4,0.8,5.1,0.6,0.0,884,22.9,150.94,175.37,385.75
4,4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,...,0.0,3.6,0.0,0.8,0.0,312,14.9,86.18,66.72,152.64
5,5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,...,0.0,1.7,0.0,1.9,0.0,675,17.7,73.10,98.39,169.80
6,6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,...,5.3,1.3,0.0,0.0,0.0,429,15.4,79.47,81.34,340.74
7,7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,...,3.7,0.3,0.3,0.0,0.0,872,20.6,125.95,74.69,206.88
8,8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,...,1.6,2.7,0.4,0.2,0.0,2991,17.0,103.24,81.02,245.20
9,9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,...,4.2,0.0,0.0,1.0,0.0,52,10.1,69.81,109.06,303.04
10,10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,...,3.8,0.0,0.0,0.0,0.0,263,13.9,103.22,86.30,143.05
11,11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,...,4.9,6.7,0.0,0.0,2.2,1003,15.0,105.44,204.16,208.25
12,12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,...,2.0,2.8,0.0,0.0,0.0,420,24.4,184.33,239.04,366.29
13,13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,...,0.4,1.0,0.7,0.7,0.0,324,22.4,117.49,159.50,393.32
14,14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,...,1.4,1.3,0.0,0.0,0.7,78,16.5,125.49,480.00,202.14
15,15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,...,5.1,4.6,2.6,0.6,0.6,682,20.0,148.01,200.82,429.78
16,16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,...,6.2,2.5,1.2,0.0,0.7,555,19.1,135.58,162.19,314.64

In [23]:
# 구간화해서 넣을 데이터 프레임
df_score = pd.DataFrame()
df_score['지역'] = df['지역']

# 구간화 사용할 점수 레이블
score = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
re_score = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 구간화해서 점수를 매길 컬럼명
col_pos = ['청년인구','지수(점)','순위','마을축제 건 수','전통문화축제',
         '관광축제','산업축제','특수목적축제','문화기반시설 수','공연사업 수',
         '공연 횟수', '생활문화시설 수','생활문화센터','평생 학습관','문화의집',
         '생활영상시설', '작은도서관','경제활동인구 (천명)','- 연령별(15~29세)',
         '- 연령별(30~39세)', '- 연령별(40~49세)','- 연령별(50~59세)',
         '공공 체육시설','민간 체육시설','기타 체육시설',
         '학교체육시설','자가시설','직장체육시설','취업률(%)',
         '평균 휴양 만족 점수','건강 증진을 위해',
         '휴양 및 휴식을 취하기 위해','취미 및 레포츠 활동을 위해',
         '친목 활동을 위해 ','질병 치유를 위해','교육 학습을 위해','기타',
         '지역별 강소기업 갯수']

col_neg = ['버스터미널','철도역','공항','대규모점포','전통시장',
          '초등학교','중학교','고등학교', '공공의료시설', '병·의원', '종합병원',
          '전월세전환율(%)', '- 연령별(60세이상)', '지역별 고령화 비율(%)','총먼지(TSP)']

In [24]:
# 구간화하기
cuts = pd.cut(df['청년인구'], 10, labels = score)

In [25]:
# for문으로 구간화 자동화하기
for i in range(0, len(col_pos)) :
    cuts = pd.cut(df['{}'.format(col_pos[i])], 10, labels = score)
    df_score['{}'.format(col_pos[i])] = cuts
    
for i in range(0, len(col_neg)) :
    cuts = pd.cut(df['{}'.format(col_neg[i])], 10, labels = re_score)
    df_score['{}'.format(col_neg[i])] = cuts

In [26]:
df_score

,지역,청년인구,지수(점),순위,마을축제 건 수,전통문화축제,관광축제,산업축제,특수목적축제,문화기반시설 수,...,초등학교,중학교,고등학교,공공의료시설,병·의원,종합병원,전월세전환율(%),- 연령별(60세이상),지역별 고령화 비율(%),총먼지(TSP)
0,강원,1,2,10,8,3,9,8,3,4,...,4,3,2,1,4,3,5,9,2,8
1,경기,10,5,6,9,7,9,1,5,10,...,9,8,8,7,9,8,10,1,8,9
2,경남,3,6,5,10,6,10,5,6,4,...,6,5,5,5,6,4,8,7,5,10
3,경북,2,3,7,6,5,3,10,2,4,...,4,2,2,2,2,2,3,7,2,9
4,광주,1,9,1,1,2,1,1,1,1,...,10,9,9,7,10,10,7,10,7,10
5,대구,2,5,7,2,1,2,1,2,2,...,9,9,9,8,10,9,9,9,5,10
6,대전,1,8,2,1,1,1,1,1,1,...,10,9,9,8,10,9,8,9,7,10
7,부산,3,6,4,4,3,4,1,3,2,...,9,9,9,9,10,9,9,7,3,10
8,서울,9,5,5,10,10,5,1,10,8,...,10,10,10,10,10,10,10,3,6,3
9,세종,1,10,1,1,1,1,1,1,1,...,9,9,8,8,9,8,5,10,10,7
10,울산,1,7,4,1,2,2,1,1,1,...,9,7,7,6,9,9,8,10,8,8
11,인천,3,7,2,2,1,2,2,2,2,...,9,8,9,8,9,9,8,8,7,3
12,전남,2,3,9,6,2,8,7,4,4,...,1,1,1,1,1,1,1,8,1,7
13,전북,2,3,8,8,4,7,7,10,3,...,6,5,4,4,5,4,4,8,2,4
14,제주,1,7,3,2,2,2,1,1,3,...,6,5,4,5,7,6,8,10,6,1
15,충남,2,1,10,4,2,5,4,2,3,...,4,2,1,3,4,2,3,8,4,6
16,충북,1,2,9,3,1,3,10,3,3,...,5,4,3,3,5,4,3,9,4,10

In [27]:
df_score.to_csv('C:/Users/admin/Desktop/미니 프로젝트 1/시각화용/지역별_데이터_점수화.csv',
               index = False)

In [28]:
# 확인
df_new = \
pd.read_csv('C:/Users/admin/Desktop/미니 프로젝트 1/시각화용/지역별_데이터_점수화.csv')

In [29]:
df_new

,지역,청년인구,지수(점),순위,마을축제 건 수,전통문화축제,관광축제,산업축제,특수목적축제,문화기반시설 수,...,초등학교,중학교,고등학교,공공의료시설,병·의원,종합병원,전월세전환율(%),- 연령별(60세이상),지역별 고령화 비율(%),총먼지(TSP)
0,강원,1,2,10,8,3,9,8,3,4,...,4,3,2,1,4,3,5,9,2,8
1,경기,10,5,6,9,7,9,1,5,10,...,9,8,8,7,9,8,10,1,8,9
2,경남,3,6,5,10,6,10,5,6,4,...,6,5,5,5,6,4,8,7,5,10
3,경북,2,3,7,6,5,3,10,2,4,...,4,2,2,2,2,2,3,7,2,9
4,광주,1,9,1,1,2,1,1,1,1,...,10,9,9,7,10,10,7,10,7,10
5,대구,2,5,7,2,1,2,1,2,2,...,9,9,9,8,10,9,9,9,5,10
6,대전,1,8,2,1,1,1,1,1,1,...,10,9,9,8,10,9,8,9,7,10
7,부산,3,6,4,4,3,4,1,3,2,...,9,9,9,9,10,9,9,7,3,10
8,서울,9,5,5,10,10,5,1,10,8,...,10,10,10,10,10,10,10,3,6,3
9,세종,1,10,1,1,1,1,1,1,1,...,9,9,8,8,9,8,5,10,10,7
10,울산,1,7,4,1,2,2,1,1,1,...,9,7,7,6,9,9,8,10,8,8
11,인천,3,7,2,2,1,2,2,2,2,...,9,8,9,8,9,9,8,8,7,3
12,전남,2,3,9,6,2,8,7,4,4,...,1,1,1,1,1,1,1,8,1,7
13,전북,2,3,8,8,4,7,7,10,3,...,6,5,4,4,5,4,4,8,2,4
14,제주,1,7,3,2,2,2,1,1,3,...,6,5,4,5,7,6,8,10,6,1
15,충남,2,1,10,4,2,5,4,2,3,...,4,2,1,3,4,2,3,8,4,6
16,충북,1,2,9,3,1,3,10,3,3,...,5,4,3,3,5,4,3,9,4,10