In [67]:
import pandas as pd

In [68]:
# 데이터 불러오기
path = 'C:/Users/admin/Desktop/미니 프로젝트 1/접근성 관련/2019년 광역교통시설 평균접근시간.csv'
df = pd.read_csv(path, header = 2)

In [69]:
# 시간대별이라는 컬럼 제거
df_new = pd.DataFrame()
df = df.drop(['시간대별(1)'], axis = 1)

In [70]:
# 확인
df

   행정구역별(1)    승용차  대중교통/도보   승용차.1  대중교통/도보.1  승용차.2  대중교통/도보.2
0        전국  18.22    35.46   29.67      43.94  60.75      89.00
1        전국  17.22    32.43   27.83      40.36  59.98      84.97
2        전국  17.93    35.56   29.76      44.19  59.45      88.96
3        전국  19.71    48.50   34.15      58.09  63.63     104.36
4     서울특별시  21.81    30.28   17.16      23.68  56.67      65.41
..      ...    ...      ...     ...        ...    ...        ...
67     경상남도  16.71    73.59   31.55     102.60  58.57     120.00
68  제주특별자치도  22.98    37.12  120.00     120.00  39.54      59.29
69  제주특별자치도  21.90    35.40  120.00     120.00  37.97      57.22
70  제주특별자치도  23.08    38.15  120.00     120.00  39.69      59.77
71  제주특별자치도  29.67    42.69  120.00     120.00  46.26      64.55

[72 rows x 7 columns]

In [71]:
# 사용할 컬럼 리스트
df.columns = (['지역','승용차_버스터미널','대중교통/도보_버스터미널',
               '승용차_철도역','대중교통/도보_철도역',
               '승용차_공항','대중교통/도보_공항'])

In [72]:
# 지역별로 묶어서 더하기
df = df.groupby(['지역']).sum()

In [73]:
# 전국이라는 행은 필요없음
df = df.drop(['전국'])

In [74]:
# 새 데이터 프레임 만들고 세 컬럼에 값 넣음
df_new = pd.DataFrame()
df_new = df
df_new['버스터미널'] = round((df['승용차_버스터미널'] + df['대중교통/도보_버스터미널']) / 2, 2)
df_new['철도역'] = round((df['승용차_철도역'] + df['대중교통/도보_철도역']) / 2, 2)
df_new['공항'] = round((df['승용차_공항'] + df['대중교통/도보_공항']) / 2, 2)

In [77]:
# 안 쓰는 컬럼 없애기
df_new = df_new.drop(['승용차_버스터미널', '대중교통/도보_버스터미널',
                      '승용차_철도역', '대중교통/도보_철도역',
                      '승용차_공항', '대중교통/도보_공항'], axis = 1)

In [78]:
# 확인하기
df_new

          버스터미널     철도역      공항
지역
강원도      131.51  204.48  380.87
경기도      100.17  136.67  333.24
경상남도     124.32  204.54  320.82
경상북도     150.94  175.37  385.75
광주광역시     86.18   66.72  152.64
대구광역시     73.10   98.39  169.80
대전광역시     79.47   81.34  340.74
부산광역시    125.95   74.69  206.88
서울특별시    103.24   81.02  245.20
세종특별자치시   69.81  109.06  303.04
울산광역시    103.22   86.30  143.05
인천광역시    105.44  204.16  208.25
전라남도     184.33  239.04  366.29
전라북도     117.49  159.50  393.32
제주특별자치도  125.49  480.00  202.14
충청남도     148.01  200.82  429.78
충청북도     135.58  162.19  314.64

In [ ]:
# 저장
df_new.to_csv('C:/Users/admin/Desktop/미니 프로젝트 1/데이터 통합용/df_광역교통시설 평균접근시간(분).csv')

In [90]:
# 다시 불러옴
df_trac = pd.read_csv('C:/Users/admin/Desktop/미니 프로젝트 1/데이터 통합용/df_광역교통시설 평균접근시간(분).csv')

In [92]:
# 지역 컬럼은 버리기
df_trac = df_trac.drop(['지역'], axis = 1)

In [93]:
# 확인
df_trac

     버스터미널     철도역      공항
0   131.51  204.48  380.87
1   100.17  136.67  333.24
2   124.32  204.54  320.82
3   150.94  175.37  385.75
4    86.18   66.72  152.64
5    73.10   98.39  169.80
6    79.47   81.34  340.74
7   125.95   74.69  206.88
8   103.24   81.02  245.20
9    69.81  109.06  303.04
10  103.22   86.30  143.05
11  105.44  204.16  208.25
12  184.33  239.04  366.29
13  117.49  159.50  393.32
14  125.49  480.00  202.14
15  148.01  200.82  429.78
16  135.58  162.19  314.64

In [84]:
# 합칠 데이터 불러오기
path_all = 'C:/Users/admin/Desktop/미니 프로젝트 1/시각화용/지역별_데이터.csv'
df_all = pd.read_csv(path_all).drop(['버스터미널', '철도역', '공항'], axis = 1)

In [85]:
# 확인
df_all

,지역,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),질산화물(NOx),...,평균 휴양 만족 점수,건강 증진을 위해,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역별 고령화 비율(%)
0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,88318614,...,7.55,35.3,60.8,2.1,0.8,-,-,1,244,21.9
1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,49950866,...,7.74,70.5,21.8,3.1,4,0.1,0.5,-,5107,14.0
2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,26369636,...,7.28,78.2,12.9,7.7,0.9,0.3,-,-,1071,18.6
3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,54996410,...,8.29,83.0,9.1,1.4,0.8,5.1,0.6,-,884,22.9
4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,12270179,...,7.78,68.3,27.2,-,3.6,-,0.8,-,312,14.9
5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,16050799,...,7.85,88.3,8.1,-,1.7,-,1.9,-,675,17.7
6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,48718539,...,7.80,44.9,48.5,5.3,1.3,-,-,-,429,15.4
7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,5260258,...,7.45,61.9,33.8,3.7,0.3,0.3,-,-,872,20.6
8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,178980916,...,8.08,72.6,22.5,1.6,2.7,0.4,0.2,-,2991,17.0
9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,79834417,...,7.47,49.3,45.5,4.2,-,-,1,-,52,10.1
10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,60898861,...,7.46,87.3,8.9,3.8,-,-,-,-,263,13.9
11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,107613430,...,7.48,67.6,18.6,4.9,6.7,-,-,2.2,1003,15.0
12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,38561770,...,7.35,64.3,30.9,2,2.8,-,-,-,420,24.4
13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,105268745,...,7.79,80.6,16.5,0.4,1,0.7,0.7,-,324,22.4
14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,104097649,...,7.96,57.6,39.0,1.4,1.3,-,-,0.7,78,16.5
15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,73050059,...,7.65,56.4,30.1,5.1,4.6,2.6,0.6,0.6,682,20.0
16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,17284695,...,7.45,53.8,35.6,6.2,2.5,1.2,-,0.7,555,19.1

In [95]:
# 합치기
df_all = pd.concat([df_all, df_trac], axis = 1)

In [96]:
# 확인
df_all

,지역,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),질산화물(NOx),...,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역별 고령화 비율(%),버스터미널,철도역,공항
0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,88318614,...,2.1,0.8,-,-,1,244,21.9,131.51,204.48,380.87
1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,49950866,...,3.1,4,0.1,0.5,-,5107,14.0,100.17,136.67,333.24
2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,26369636,...,7.7,0.9,0.3,-,-,1071,18.6,124.32,204.54,320.82
3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,54996410,...,1.4,0.8,5.1,0.6,-,884,22.9,150.94,175.37,385.75
4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,12270179,...,-,3.6,-,0.8,-,312,14.9,86.18,66.72,152.64
5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,16050799,...,-,1.7,-,1.9,-,675,17.7,73.10,98.39,169.80
6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,48718539,...,5.3,1.3,-,-,-,429,15.4,79.47,81.34,340.74
7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,5260258,...,3.7,0.3,0.3,-,-,872,20.6,125.95,74.69,206.88
8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,178980916,...,1.6,2.7,0.4,0.2,-,2991,17.0,103.24,81.02,245.20
9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,79834417,...,4.2,-,-,1,-,52,10.1,69.81,109.06,303.04
10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,60898861,...,3.8,-,-,-,-,263,13.9,103.22,86.30,143.05
11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,107613430,...,4.9,6.7,-,-,2.2,1003,15.0,105.44,204.16,208.25
12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,38561770,...,2,2.8,-,-,-,420,24.4,184.33,239.04,366.29
13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,105268745,...,0.4,1,0.7,0.7,-,324,22.4,117.49,159.50,393.32
14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,104097649,...,1.4,1.3,-,-,0.7,78,16.5,125.49,480.00,202.14
15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,73050059,...,5.1,4.6,2.6,0.6,0.6,682,20.0,148.01,200.82,429.78
16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,17284695,...,6.2,2.5,1.2,-,0.7,555,19.1,135.58,162.19,314.64

In [97]:
# 다시 저장
df_all.to_csv('C:/Users/admin/Desktop/미니 프로젝트 1/데이터 통합용/지역별_데이터_2.csv')