In [1]:
# pandas 라이브러리 호출

import pandas as pd

In [7]:
# '30년간_출생율변화.csv' 파일 불러오기
# 필요없는 열인 'Unamed: 0' 삭제하기

df = pd.read_csv('30년간_출생율변화.csv')
df = df.drop('Unnamed: 0', axis = 1)
df

,기본항목별,1990,1995,2000,2005,2010,2015,2020
0,출생아수(명),649738.00,715020.000,640089.00,438707.000,470171.000,438420.000,272337.000
1,자연증가건수(명),408122.00,472182.000,391349.00,192833.000,214766.000,162525.000,-32611.000
2,조출생률(천명당),15.20,15.700,13.50,9.000,9.400,8.600,5.300
3,자연증가율(천명당),9.50,10.300,8.20,4.000,4.300,3.200,-0.600
4,합계출산율(명),1.57,1.634,1.48,1.085,1.226,1.239,0.837
5,출생성비(명),116.50,113.200,110.10,107.800,106.900,105.300,104.800

#### - 출생성비: 여아 100명당 남아 수를 의미
#### - 자연증가율: 인구가 인구 1000명당 자연 증감한 인구 (출생률 - 사망률)
#### - 합계출산율: 가임 여성(15~49세) 1명이 평생 동안 낳을 것으로 예상되는 평균 출생아 수를 나타낸 지표 (연령별 출산율(ASFR)의 총합)

In [8]:
# 수정한 파일을 csv로 저장

df.to_csv('30년간_출생율변화.csv')